# rigid body 1
# index from 0

rigidstart
#protect SiteI        Site II and III
# 0   1   2   3 | 4   5   6   7   8   
$ 111 112 113 114 115 116 117 118 119
# Protect[0]=158 (the bend at site I)
rigidend


# rigid body 2
# index from 0
rigidstart
#protect SiteI        Site II and III
# 0   1   2   3 | 4   5   6   7   8   
$ 255 256 257 258 259 260 261 262 263
rigidend

specify_rigidity
> 106 0.123456789
> 124 0.123456789
> 250 0.123456789
> 268 0.123456789
end_specify_rigidity

#create a solid shpere so that the hollow space in res site won't be penetrated.
#format rigidbody# protect# rigidbody# protect# diameter
#sphere center: (C[RG[0].protect[6]].X+C[RG[1].protect[7]].X)/2 diameter
# test shpere sphere 0 7 1 7 40.0
sphere  0 6 1 6 2.8
sphere  0 0 1 0 2.0

[endoffile]

Full 2 res rise 8 deg 225 1seg(siteIL)+4seg(siteIR+connection)+6seg(helix)

Res I site exchange function:

int CircularChain::productLk(int vertM, int vertN)
vertM=Protect[1]
vertN=Protect[1]